.die {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6vw;
  height: 6vw;
  background-color: var(--white);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 10%;
  cursor: pointer;
}

.dieNum {
  font-size: 4vw;
  font-weight: 600;
}

.held {
  background-color: var(--bright-yellow);
}

@media only screen and (max-width: 992px) {
  .die {
    width: 7vw;
    height: 7vw;
  }
}

@media only screen and (max-width: 768px) {
  .die {
    width: 8vw;
    height: 8vw;
  }
}

@media only screen and (max-width: 320px) {
  .die {
    width: 10vw;
    height: 10vw;
  }
}
